@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background: #ffffff;
}

.container {
  max-width: 1600px;
}

.header {
  width: 100%;
  height: 110px;
  background: #000;
}

.logo {
  width: auto;
  height: 50px;
}

.navbar .nav-link {
  font-size: 18px;
  font-weight: 500;
}

.top__banner__carousel {
  width: 100%;
  height: 500px;
  background: #cccccc;
}
.top__banner__carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.top__banner__carousel .owl-dots .owl-dot {
  width: 20px;
  height: 3px;
  background: #fff;
  padding: 2px;
}
.top__banner__carousel .owl-dots .owl-dot.active {
  background: #b35f5f;
}

.top__banner__item {
  position: relative;
  height: 500px;
}

.top__banner__images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top__banner__wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.categories {
  margin-top: 30px;
}

.categories__item {
  height: 330px;
  overflow: hidden;
  position: relative;
}
.categories__item:hover img {
  transform: scale(1.1);
}
.categories__item h3 {
  position: absolute;
  left: 0;
  padding: 18px;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  z-index: 1;
  color: #ffffff;
  bottom: 0;
  font-size: 24px;
}
.categories__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
}

.categories__carousel {
  padding: 30px 0 20px;
}
.categories__carousel .categories__item {
  height: 150px;
}
.categories__carousel .categories__item h3 {
  font-size: 14px;
  padding: 6px;
}

.form-check-input,
.form-check-label {
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.4s;
}
.form-check-input:hover,
.form-check-label:hover {
  opacity: 0.8;
}

.form-check-input:checked {
  background-color: #212529;
  border-color: #212529;
}

.form-select:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 1px rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}

textarea.form-control {
  min-height: 200px;
}

.products {
  margin-top: 20px;
}

.products__carousel .owl-nav {
  position: absolute;
  right: 10px;
  top: -80px;
  display: flex;
}
.products__carousel .owl-nav button.owl-next,
.products__carousel .owl-nav button.owl-prev {
  display: flex;
  padding: 0 10px !important;
  font-size: 30px;
  border: 1px solid #000 !important;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.4s;
}
.products__carousel .owl-nav button.owl-next:hover,
.products__carousel .owl-nav button.owl-prev:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  .products__carousel .owl-nav {
    top: unset;
    bottom: -40px;
  }
}

.products__item {
  transition: all 0.4s;
}
.products__item:hover {
  opacity: 0.8;
}
.products__item:hover .card-img-top {
  transform: scale(1.1);
}
.products__item .products__img__wrapper {
  height: 280px;
  overflow: hidden;
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}
.products__item .card-img-top {
  object-fit: cover;
  height: 100%;
  transition: all 0.4s;
}

.about {
  margin-top: 20px;
}
.about:hover img {
  transform: scale(1.01);
}
.about img {
  transition: all 0.4s;
}

.fixed__phone__number {
  position: fixed;
  bottom: 10%;
  right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 35px;
  color: #000000;
  background: #ccc;
  text-decoration: none;
  transition: all 0.4s;
  z-index: 10;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.fixed__phone__number i {
  transition: all 0.4s;
}
.fixed__phone__number:hover {
  opacity: 0.8;
}
.fixed__phone__number:hover i {
  transform: rotate(10deg);
}

.offcanvas-body {
  overflow-y: scroll;
}
.offcanvas-body .filter__title {
  font-size: 22px;
  color: #000000;
}
.offcanvas-body .filter__title i {
  transition: all 0.4s;
}
.offcanvas-body .filter__title[aria-expanded=true] i {
  transform: rotateX(180deg);
}

.splide-main__wrapper {
  width: 100%;
  overflow: hidden;
}

.splide-main {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.splide-main img {
  width: 100%;
  display: block;
  object-fit: cover;
  min-height: 300px;
  max-height: 400px;
}

.splide-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  margin-top: 15px;
  overflow: hidden;
}

.splide-thumbs .splide__slide {
  width: calc(25% - 10px);
  height: auto;
  margin-right: 14px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.splide-thumbs .splide__slide.is-active {
  border: 0 !important;
}

.splide-thumbs .splide__slide img {
  width: 100%;
  border-radius: 5px;
  filter: grayscale(1);
  opacity: 0.65;
  transition: 0.5s ease;
}

.splide-thumbs .splide__slide.is-active img {
  filter: grayscale(0);
  opacity: 1;
}

.splide-thumbs .splide__slide {
  height: 80px;
  overflow: hidden;
}

.splide__arrow {
  background: #ffffff;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .categories__item {
    height: 215px;
  }
  .categories__item h3 {
    font-size: 16px;
    padding: 15px;
  }
  .products__item .card-title {
    font-size: 16px;
  }
  .products__item .products__img__wrapper {
    height: 185px;
  }
  .products__item .product__info {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    margin-bottom: 0;
  }
  .products__item .product__info .h3 {
    font-size: 20px;
    margin: 5px 0;
  }
  .products__item .card-body {
    padding-bottom: 2px;
  }
  .fixed__phone__number {
    width: 60px;
    height: 60px;
    font-size: 30px;
    bottom: 6%;
  }
  .logo {
    height: 40px;
  }
  .splide__list {
    max-height: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
